/*
 * Estilos de tu proyecto
 */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #29073B; */
}

a {
    text-decoration: none;
}

/*Menú de Navegación en la parte superior*/
header {
    position: fixed;
    z-index: 100;
    width: 100%;
}

.menu1 { /*Menú de Navegación con logo/
    /* border: 1px blue solid; */
    overflow: hidden;
    padding-left: 5em;
    width: 100%;
}

.menu1 a {
    color: white;
}

a:hover,
.menu2 a:hover {
    color: #FF00BF;
}

li {
    display: inline-block;
}

.menu1 .lista1>li {
    list-style: none;
    float: left;
    padding: 2em;
    /*border: 1px blue solid;*/
}

.menu1 .lista1>li:nth-child(3):hover .menu2 {
    visibility: visible;
    /* Muestra el sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay 
    so the menu will be visible while the 
    other styles transition */
}

.menu1 .lista1>li:nth-child(2) {
    margin-left: 35em;
    /* border: 1px magenta solid; */
}

.lista1 li:last-child span {
    border: 1px white solid;
    border-radius: 6px;
    padding: 15px;
}

.menu2 { /*Menú de navegacion oculto que aparece con hover*/
    visibility: hidden;
    background-color: white;
    position: absolute;
    margin-top: 4em;
    width: 100%;
    height: 5em;
    left: 0;
    opacity: 0;
    transform: translateY(-2em); /*aqui se establece el movi hacia abajo del menu*/
    z-index: -1;
    transition: all 0.3s ease-in-out; 
    /*aqui se establece que todas las transiciones
    tengan una duracion de 0.3s con una funcion ease-in-out*/
}

.menu2 ul {
    list-style: none;
    text-align: center;
    margin: auto;
    align-content: center;
}

.menu2 li {
    padding: 2em;
}

.menu2 a {
    color: black;
}


/* Cover Section */

.cover {
    display: block;
}

.form_and_video {
    display: block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    height: 600px;
    /* border: 1px magenta solid; */
}

.video-bg {
    position: absolute;
    min-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    /* border: 1px magenta solid; */
}

.flex_container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 115px;
    /* border:  1px green solid; */
    height: 85%;
}

.formulario {
    flex: 0 0 35%;
    /*Para mas informacion de flex*/
    /*http://www.desarrollolibre.net/blog/tema/239/css/las-propiedades-flex-grow-flex-shrink-y-flex-basis#.WfX6kbynG1M*/
    padding: 64px;
    background-color: #fff;
    line-height: 2em;
    /* border:  1px blue solid; */
}
.formulario h1{
    color: #352384;
    font-size: 2.5em;
    font-style: bold;
    /* border:  1px blue solid; */
}
.formulario p{
    color: #352384;
    font-size: 18px;
    font-weight: 100;
    font-kerning: 20px;
    /* border:  1px blue solid; */
}
.formulario>div:last-child p{
    color: #352384;
    font-size: 12px;
    font-weight: 100;
    /* border:  1px blue solid; */
}

.formulario form div {

    padding: 10px;
    line-height: 2em;
    /* border:  1px blue solid; */
}

.formulario input {
    width: 100%;
    border: none;
    box-shadow: none;
    height: 3rem;
    border-bottom: 1px #76278F solid;
    
}

button {
    display: flex;
    border: none;
    display: inline-block;
    text-align: center;
    padding: .75rem 1.25rem;
}

.btn1 {
    color: white;
    background-color: #ff00bf;
    border-radius: .5rem;
}

.btn2 {
    color: #728099;
    background-color: transparent;
    text-decoration: underline;
}


/* Celular Section */

.celular {
    background: linear-gradient(#76278F, #2B1E66);
    display: block;
}

.flex_texto_cel {
    display: flex;
    /* border: 1px blue solid; */
}

.texto_celular {
    flex-direction: column;
    color: white;
    padding: 6em;
    display: flex;
    line-height: 2em;
    /* border: 1px yellow solid; */
    align-self: left;
}
.texto_celular>div {
    /*para que cada hijo abarque un 33.33% del tamaño del padre*/
    flex: 33.333%;
    margin-bottom: 2em;
}

.imagen_celular img {
    padding-top: 6em;
    padding-right: 10em;
    max-width: 80%;
}

/*Como se tienen 3 secciones consecutivas parecidas*/
.celular~section {
    background-color: white;
    margin: 0;
    width: 100%;
    /* border: 1px magenta solid; */
}

/* Videos Sections */
.contenedor_video {
    display: flex;
    flex-direction: row;
    /* border: 1px magenta solid; */
    align-items: top;
}

.texto {
    flex: 25%;
    flex-direction: column;
    color: black;
    padding-right: 3em;
    padding-top: 2em;
    padding-left: 3em;
    /* border: 1px yellow solid; */
}

iframe {
    max-width: 100%;
    display: block;
}

/*Seccion de Pie de pagina*/

footer {
    background-color: #383349;
    display: flex;
    flex-direction: column;
}

.footer_top {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
    padding-left: 2em;
}

.footer_top>div {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: left;
    /* border: 1px pink solid; */
    color: white;
    padding-right: 5px;
    line-height: 5em;
}

.footer_top>div a {
    display: block;
    color: white;
}

.footer_top>div a:hover {
    color: #FF00BF;
}

.footer_top>div:last-child img {
    display: block;
    max-width: 50%;
    max-height: 50%;
    height: auto;
}

.footer_top>div:last-child {
    display: flex;
    text-align: center;
    line-height: 5em;
    flex-direction: column;
    width: 100%;
}

.footer_top>div:last-child a {
    flex: 25%;
    width: 100%;
}

.footer_top>div:last-child a img {
    object-fit: contain;
}

.footer_mid,
.footer_bottom {
    align-self: center;
    color: white;
    margin-top: 25px;
}

.footer_mid {
    border-bottom: 2px white solid;
}

.footer_mid li {
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    display: inline-block;
}

.footer_mid ul li a {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 2px white solid;
    padding-top: 13px;
    color: white;
    transition: background-color 0.3s, color 0.2s;
}

.footer_mid ul li a:hover {
    color: #FF00BF;
    background-color: white;
}