/*
 * Estilos de tu proyecto
 */
 *{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    /* background-color: #29073B; */
}

a {
    text-decoration: none;

}

header{
    position: fixed;
    z-index: 100;
    padding: 0;
    width: 100%;
}
.menu1{
    /* border: 1px blue solid; */
    overflow:hidden ;
    width: 100%;
    padding-left: 5em;
}

.menu1 a {
    color: white;
}

a:hover, .menu2 a:hover{
    color: #FF00BF;
}

li {
    display: inline-block;
}

.menu1 .lista1>li {
    list-style: none;
    float: left;
    padding: 2em;
    /*border: 1px blue solid;*/
}

.menu1 .lista1>li:nth-child(3):hover .menu2 {
    visibility: visible;
    /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    /* this removes the transition delay so the menu will be visible while the other styles transition */
}


.menu1 .lista1>li:nth-child(2) {
    margin-left: 35em;
}


.lista1 li:last-child span{
    border: 1px white solid;
    border-radius: 6px;
    padding: 15px;
}

.menu2 {
    visibility: hidden;
    background-color: white;
    position: absolute;
    margin-top: 4.3em;
    border-top: 2px gainsboro solid; 
    width: 100%;
    height: 5em;
    left: 0;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.menu2 ul {
    list-style: none;
    text-align: center;
    margin: auto;
    align-content: center;
    
}

.menu2 li {
    padding: 2em;
}
.menu2 a{
    color: black;
}
 /* Cover Section */

 .cover{
    box-sizing: inherit;
    display: block;
    box-sizing: inherit;
 }
.form_and_video{
    box-sizing: inherit;
    display: block;
    position: relative;
    background-position: 50%;
    background-size: cover;
    overflow: hidden;
    box-sizing: inherit;
    height: 600px;
}

.video-bg {
    box-sizing: inherit;
    min-height: 100%;
    height: auto;
    width: auto;
    max-width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-position: 50%;
    background-size: cover;
    -webkit-box-flex: 1;
    flex: 1;
    display: inline-block;
    vertical-align: baseline;
    object-fit: contain;
    z-index: -1;
}
.form-container{
    box-sizing: inherit;
    z-index: 100;
    height: 100%;
    display: block;
    border: 1px magenta solid;
}

.fila{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 115px;
    box-sizing: inherit;
    border:  1px green solid;
    height: 100%; 
}



.caja_blanca{
    flex: 0 0 41.66667%;
    padding: 64px;
    background-color: #fff;
    border:  1px blue solid;
}


.celular{
    background: linear-gradient(#76278F, #2B1E66);
    display: block;
}

.imagenTexto {
    display: inline-block;
}

.imagen_celular img {
    width: 500px;
    height: 500px;
}

.contenedor_texto_celular{
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
}

.texto_celular{
    width: 500px;
    height: 500px;
    float: left;
    text-align: justify;
    color: white;
}
.texto_celular ul{
    padding-left: 10em;
    padding-top: 6em;
}

.learn{
    background-color: white;
    width: 100%;
    border: 1px blue solid;
    
}

.text_learn{
    float: left;
    text-align: center;
    border: 1px blue solid;
    
}

.text_learn ul{
    width: 417px;
    height: 548px;

    border: 1px blue solid;
    
}
.imagen_learn img{
    width: 898px;
    height: 550px;
    display: inline-block;
    border: 1px blue solid;
}


.oregon_west{
    position: relative;
  margin: 0;
    background-color: white;
    top:-5px;
}

.west{
    width:400px;
    height: 300px;
    float: right;
    text-align: center;
}
.west ul{
    padding: 0.5em 0.5em;
    margin: 0.5em;
}

.video_oregon{
    width: 898px;
    height: 550px;
    display: inline-block;
    border: 1px blue solid;

}

.corazon{
    float: right;
    
}



.round{
    width:300px;
    height: 501px;
    display: inline-block;
}

.round_corazon{
    position: relative;
    top:-60px;
    background-color: white;
}

.product, .news{
    width:528px;
    height: 300px;
}

.product_news{
    border:1px red solid;    
    background-color: white;
    text-align: center;
    padding-left: 5em;
    
}

.news{
    float: left;
}

.product{
    display: inline-block;
}

.find_lyft{
    background-color: #352384;
    height: 314px;
    z-index: 5;
}

.location{
    position: relative;
    height: 350px;
    z-index: 5;
    top:20em;
    margin-left: 8em;
    border: 1px blue solid;
}

.pie ul li{

    display: inline;
    margin-left: 3em;

}

.pie{
    float: left;

}

.pie{
    width: 200px;
    height: 200px;
    
}

.wrapper_pie{
    display: block;
    padding: 5em;
    background-color: #333447;
    border: 1px blue solid;
    width: 100%;
    height: 500px;
    
}




